<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%-include('header')%>
    <main>
        <div class="about-bg">
            <div class="about-cover">
                <h1>About Us</h1>
            </div>
        </div> 
    </main>
    <article>
        <div class="text-article">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ut esse voluptas iure natus corrupti consectetur non est distinctio, numquam exercitationem, nobis corporis inventore laborum consequatur. Repellendus accusamus doloremque cumque?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, minus soluta distinctio rerum, aliquid voluptatibus ut delectus facilis repellat eaque deserunt cum maxime porro. In esse, culpa dolore eos accusantium natus. Ut nam molestiae repudiandae earum, error numquam voluptate hic!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusamus deleniti voluptas, qui nam neque aliquid animi atque recusandae minima error officia incidunt totam temporibus iure quis velit nulla? Nulla.</p>
    </article>
    <%-include('footer')%>
</div>
</body>
</html>