<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" type="image/png" href="images/IconLogo.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<!-- Google Analytics -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-H8XDSSFPLP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-H8XDSSFPLP');
  </script>
<body>
    <%-include('header')%>
    <main>
        <div class="about-bg">
            <div class="about-cover">
                <h1>About Us</h1>
            </div>
        </div> 
    </main>
    <article>
        <div class="text-article">
            <h2>What is ShambaAfrik?</h2>
        <p>ShambaAfrik is an innovative web application designed to empower smallholder farmers and promote sustainable agriculture practices through the adoption of organic farming inputs. Our mission is to provide a comprehensive and user-friendly platform that addresses the challenges faced by organic farmers in accessing high-quality inputs, educational resources, and market opportunities.
        </p><p>Developed as part of a research initiative, ShambaAfrik aims to leverage technology to revolutionize the way organic farming inputs are distributed and to foster a thriving ecosystem for sustainable agriculture. By bridging the gap between farmers, vendors, and agricultural experts, we strive to create a collaborative environment where knowledge is shared, and resources are readily available.</p>
        <h2>Our Vision</h2>
        <p>
            We envision a future where organic farming practices are widely adopted, leading to a healthier planet and a more resilient food system. ShambaAfrik aspires to be a catalyst for change, empowering smallholder farmers to transition to organic farming methods and contribute to the sustainable development goals of their communities.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusamus deleniti voluptas, qui nam neque aliquid animi atque recusandae minima error officia incidunt totam temporibus iure quis velit nulla? Nulla.</p>
    </article>
    <%-include('footer')%>
</div>
</body>
</html>