@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Light.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

/* ------header------- */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1a3315a1;
    height: 10vh;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding-top: 20px;
    padding-right: 10px;
}

.navbar li {
    padding-left: 30px;
}

.navbar li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.navbar li a:hover {
    color: #C8DF52;
}

.logo a {
    text-decoration: none;
}

.logo p {
    font-size: 36px;
    font-weight: 900;
    color: #C8DF52;
    padding-top: 10px;
    padding-left: 30px;
}

.logo span {
    font-style: oblique;
    font-weight: 300;
}

.bar {
    display: none;
}


@media screen and (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    .bar {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 15px;
        cursor: pointer;
    }

    .toggle {
        /* display: none; */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #1a3315a1;
    }

    .toggle ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .toggle li {
        padding: 10px 0;
    }

    .toggle li a {
        font-size: 16px;
    }

    /* Toggle the menu when the checkbox is checked */
    #toggle-btn:checked + .toggle {
        display: block;
    }
}


@media screen and (max-width:576px){
    /* .navbar ul {
        display: none;
    } */
    .toggle {
        display: none;
        border: 1px solid #fff;
        background-color: #fff;
        position: absolute;
        right: 0rem;
        top: 5rem;
        width: 50%;
        height: 100vh;
    }
    .toggle ul a {
        color: #1a3315a1;
    }
    .bar {
        right: 40px;
        top: 20px;
    }
}

/* ------index------ */
.main-container {
    background-image: url(../images/organicfood.jpg);
    background-position: 100%;
    background-size: 100%;
    height: 80vh;
}

.main-bg-cover {
    background-color: rgba(204, 204, 204, 0.295);
    height: 80vh;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding-top: 100px;
}

.main-text p {
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    text-align: center;
}

.main-search {
    position: absolute;
    top: 50%;
    right: 40%;
    gap: none;
}

.main-search input[type="text"] {
    font-size: 18px;
    outline: 1px solid #4CAF50;
    border: none;
}

.main-search button {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    color: white;
    font-weight: 600;
    padding: 8px 14px;
}

.main-search button:hover {
    background-color: #C8DF52;
    border: 1px solid #C8DF52;
    cursor: pointer;
}

#form-search {
    display: flex;
}

.section {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
.section p {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.section img {
    width: 100px;
}

.free {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #C8DF52;
    background-color: #C8DF52;
    border-radius: 10px;
    width: 400px;
}

.customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #C8DF52;
    width: 400px;
    background-color: #C8DF52;
    border-radius: 10px;
    text-align: center;
}

.customer img {
    padding-top: 20px;
}

.customer p {
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .main-container {
     background-repeat: no-repeat;
     height: 44vh;
    }
    
    .main-bg-cover {
        height: 44vh;
    }

    .main-text {
      padding-top: 50px;
    }
  
    .main-search {
      position: static;
      margin-top: 20px;
      right: auto;
      text-align: center;
    }
  
    .main-search input[type="text"] {
      width: 60%;
      margin-right: 10px;
    }
  
    .section {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  
    .section p {
      font-size: 16px;
    }
  
    .free,
    .customer {
      width: 90%;
      margin-bottom: 20px;
    }
  
    .customer img {
      padding-top: 0;
    }
  }

/* -----signup and login bg----- */
.body-container {
    background-image: url(../images/kahawa.jpg);
    background-repeat: repeat-y;
    background-position: 100%;
    height: 100vh;
    animation: change 60s infinite ease-in-out;
}

.body-container h1 {
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding-top: 40px;
}

.error {
    color: #ff0000;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

.message {
    color: #4CAF50;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

@keyframes change {
    0%
    {
        background-image: url(../images/kahawa.jpg);
    }
    50%
    {
        background-image: url(../images/ghouse.jpg);
    }
    100%
    {
        background-image: url(../images/AfrikFarm.jpeg);
    }
    
}

/* -----footer----- */

footer {
    background-color: #1a3315a1;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contacts a img {
    width: 30px;
    margin-right: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-size: 16px;
}

.footer-links a:hover {
    color: #C8DF52;
}

#admin a {
    font-weight: 700;
}

#admin a:hover {
    color: #BA0F30;
}

.footer-logo .logo p {
    font-size: 24px;
    font-weight: 900;
    color: #C8DF52;
    margin-bottom: 0;
}

.footer-logo .logo span {
    font-style: oblique;
    font-weight: 300;
}

.footer-logo .copy p {
    margin-top: 0;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    .contacts {
        margin-bottom: 20px;
    }

    .footer-links {
        margin-bottom: 20px;
    }

    .footer-links a {
        display: block;
        margin: 10px 0;
    }
}


/* ----products---- */

/* CSS for the grid container */
#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns */
    grid-gap: 16px;
    padding: 40px 20px 60px;
    /* Space between grid items */
}

/* CSS for each grid item */
.grid-item {
    position: relative;
    width: 300px;
    height: 160px;
}

.grid-item:hover {
    scale: 1.01;
}

.grid-item img {
    width: 300px;
    height: 160px;
}

.grid-item p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1a3315a1;
    color: white;
    padding: 8px;
    margin: 0;
}

.grid-item a {
    text-decoration: none;
    font-weight: 600;
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    color: #fff;
    font-weight: 500;
    padding: 2px 4px;
    margin: 1px;
    border-radius: 4px;
}

.grid-item a:hover {
    background-color: #BA0F30;
    border: 1px solid #BA0F30;
}

@media screen and (max-width: 768px) {
    #grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns for smaller screens */
        padding: 20px;
    }

    .grid-item {
        width: 100%;
        /* Adjust the width for smaller screens */
        height: auto;
        /* Allow the height to adjust based on content */
    }

    .grid-item p {
        font-size: 14px;
        /* Adjust the font size for smaller screens */
    }
}

  
/* ----about---- */
.about-bg {
    background-image: url(/images/organic2.jpg);
    background-position: 100%;
    background-size: 100%;
    height: 40vh;
}

.about-bg h1 {
    text-align: center;
    color: #C8DF52;
    padding-top: 100px;
    font-weight: 900;
}

.about-cover {
    background-color: #1a3315a1;
    height: 40vh;
}

.text-article {
    padding-top: 40px;
}

.text-article p {
    color: #4CAF50;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 30px;
    text-align: center;
}

/* ----admin----- */
.admin-header {
    display: flex;
    padding: 10px 0;
    background-color: #1a3315a1;
    margin-bottom: 10px;
}

.admin-header h1 {
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    padding-left: 16rem;
    padding-top: 10px;
}